

.event__content img {
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

.event__info {
    border-radius: 0.5rem;
    border: 1px solid rgb(56, 40, 56);
    padding: 2rem;
}

.event__info h2 {
   font-size: 1.5rem;
}

.event__info span {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-style: 1rem;
    color: var(--text-color);
}

.event__info span i {
    color: var(--heading-color);
    font-size: 1.1rem;
}

.event__extra-details{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.event__info h5{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.event__info p{
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}